body {
  background-color: white;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  color: #40514e;

}

h1 {
  font-size: 3.75rem;
  color: #66bfbf;
}
h3 {
  color: #11999e;
  font-family: consolas, sarif;
}
h2 {
  font-weight: normal;
  line-height: 0.2;
  font-size: 2.375rem;
  color: #66bfbf;
  font-family: consolas, sarif;
  padding-bottom: 10px;
}
p{
    line-height: 2;
}
a{
  color: #11999e;
  font-family: consolas, sarif;
  magin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.top-medical{
  width: 15%;
  position:absolute;
  top: 40px;
  right: 40px;
}
.bottom-medical{
  width: 15%;
  position:absolute;
  bottom: 40;
  left: 100px;
}
.profile{
  padding-top: 10%;
  width: 25%
}
.introduction{
height: 95vh;
padding-top: 5%;
  background-color: #e4f9f5 ;

}

.educational{
  padding-top: 5%;
margin: 100px 0;

}
.skills{
  padding-top: 5%;
}
.skill-row{
  width: 70%;
  margin: 100px auto ;
  text-align: left;

}
.tables{
  margin: 0 auto 0 auto;
  text-align: left;
}
.name{
  margin-top: 0 auto 0;
  font-family: fantasy;
}
hr{
  width: 4%;
  border: dotted #eaf6f6 6px;
  border-bottom: none;
}
.contact-me{
  margin-top: 9%;
  margin-bottom: 0;
  color: black;
  font-family: fantasy, sarif;
  background-color: #66bfbf;
  padding: 20px 0 10px;

}
.bio-medical{
  width: 20%;
  position: absolute;
  bottom: 1px;
}
.skill-maintain{
  width: 25%;
  float: right;
  margin-left: 5px;
}
.skill-callibrate{
  width: 25%;
  float: left;
  margin-right: 5px;
}
.skill-code{
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 5px;
}
.intro{
  width: 60%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #eaf6f6;
  fontsize 0.75rem;
  padding: 20px 0;
}
.get-in-touch{
  padding-top: 30px
}
