body {
  background-color: white;
  margin: 0;
}
.profile{
  padding-left: 10%;
}

h1 {
  color: #3151ce;
}
h3 {
  color: #66bfbf;
}
h2 {
  color: #66bfbf;
}
.introduction{
  padding-left: 10%;
  padding-right: 10%;
height: 100vh;

  background-color: #CC9544;
}

.educational{
  padding-left: 25%;
  padding-right: 25%;
  height: 100vh;
  background-color: #603601;


}
.other{

  padding: 3px 30% 10% 30%;
  height: auto;
  background-color: #361500;
}
